# Python
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Hugging Face cache
.cache/